<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    #clients{
      margin-top: 50px;
    }
  </style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>BANK</b>System</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#client" class="w3-bar-item w3-button">Clients</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px" id="clients">
  <div class="w3-row-padding" id="client">
    <h1>Clients of <b th:utext="${bank.name}"></b></h1>
    <tr th:each="client:${clients}">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://st3.depositphotos.com/9998432/13335/v/600/depositphotos_133352062-stock-illustration-default-placeholder-profile-icon.jpg" alt="John" style="width:100%">
        <h3 th:utext="${client.name}"></h3>
        <p class="w3-opacity" th:utext="${client.type}">Individual</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><a th:href="@{/clients/get/{clientId}(clientId=${client.id})}"><button class="w3-button w3-light-grey w3-block">View</button></a></p>
      </div>
    </tr>
  </div>
</div>
</body>
</html>
