<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    #clients{
      margin-top: 50px;
    }
    #buttons{
      position: absolute;
      top: 157px;
      left: 756px;
      width: 876px;
    }
  </style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>BANK</b>System</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#client" class="w3-bar-item w3-button">Clients</a>
      <a href="#bankAccount" class="w3-bar-item w3-button">Bank Accounts</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <div class="w3-content w3-padding" style="max-width:1564px" id="clients">
  <div class="w3-row-padding" id="client">
    <h1 th:utext="${client.name}"></h1>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://st3.depositphotos.com/9998432/13335/v/600/depositphotos_133352062-stock-illustration-default-placeholder-profile-icon.jpg" alt="John" style="width:100%">
      <h3 th:utext="${client.name}"></h3>
      <p class="w3-opacity" th:utext="${client.type}"></p>
  </div>
  </div>
    <div id="buttons">
      <p><a href="/transactions"><button class="w3-button w3-light-grey w3-block">Make transaction</button></a></p>
      <p><a th:href="@{/transactions/get/{clientId}(clientId=${client.id})}"><button class="w3-button w3-light-grey w3-block">View transactions</button></a></p>
      <p><a th:href="@{/bank-accounts}"><button class="w3-button w3-light-grey w3-block">Create bank account</button></a></p>
      <p><a th:href="@{/clients/{clientId}(clientId=${client.id})}"><button class="w3-button w3-light-grey w3-block">Edit client</button></a></p>
      <form th:method="PATCH" th:action="@{/clients/delete/{clientId}(clientId=${client.id})}">
        <input class="w3-button w3-light-grey w3-block" type="submit" value="DELETE">
      </form>
    </div>
    </div>
  <!-- Bank account content -->
  <div class="w3-row-padding" id="bankAccount">
    <h1>Bank Accounts</h1>
    <tr th:each="account:${accounts}">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://i.pinimg.com/736x/90/19/4b/90194b7f2ca68a3d80dc41a6e20ae1de.jpg" alt="John" style="width:100%">
        <h3 th:utext="${account.bankProducer.name}" ></h3>
        <p class="w3-opacity">
          <b>Account number:</b>
          <b th:utext="${account.number}"></b>
        </p>
        <p>
          <b>Currency: </b>
          <b th:utext="${account.currency}"></b> <br>
          <b>Amount: </b>
          <b th:utext="${account.amountOfMoney}"></b>
        </p>
        <p><a th:href="@{/bank-accounts/get/{accountId}(accountId=${account.id})}"><button class="w3-button w3-light-grey w3-block">View</button></a></p>
      </div>
    </tr>
  </div>

<!-- End page content -->
</div>

</body>
</html>
